<mat-card>
        <h2>New Todo</h2>
        <form #todoForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="example-container">
            <mat-form-field>
                <input 
                    matInput placeholder="Todo Title"
                    [(ngModel)] = "title"
                    name = "title">
            </mat-form-field>                 
            <div >
                <button mat-raised-button color="primary" [disabled]="!todoForm.form.valid">{{buttonText}}</button>
                <button mat-raised-button [routerLink]="'/todos'" >Cancel</button>
            </div>
          </div>
        </form>
        </mat-card>
    