<div class="example-button-row"><br>
    <button style="margin-left:20%" mat-raised-button color="primary" [routerLink]="'/todoform'">
        Add Todo
    </button>
</div>
<p *ngIf="!(todos$ | async)">{{todostatus}}</p>

<mat-divider></mat-divider>
<mat-list *ngFor="let todo of todos$ | async">
        <mat-list-item *ngIf = "todo.status===1" style="color:green"> {{todo.title}}
    <button style="margin-left:5%" mat-raised-button color="primary" disabled>
        Done
    </button></mat-list-item>
    <mat-list-item *ngIf = "todo.status===0"> {{todo.title}} 
<button style="margin-left:5%" mat-raised-button color="primary" (click)=done(todo.id)>
    Done
</button></mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
