
<mat-accordion>
    <mat-expansion-panel *ngFor = "let user of Users$">
      
      <mat-expansion-panel-header>
        <mat-panel-title>
     {{user.username}} from {{user.company.name}} -- {{user.company.bs}}
        </mat-panel-title>
      </mat-expansion-panel-header > 
   Name: {{user.name}}  |  Email: {{user.email}}    |   Phone: {{user.phone}}   |   Website: {{user.website}}
   <br><br>
  <b>  {{user.company.catchPhrase}}! </b>
    </mat-expansion-panel>
  </mat-accordion>
  